<app-navbar></app-navbar>
<br>
<div class="divs">
    <h1>Lista de charlas</h1>
</div>
<br>

<br>
<div class="card-deck">
    <div class="card">
      
        <div class="div-img hidden" >
          <img class="img" src="assets/img/Bigdata.jpg" title="big data" alt="big data">
        </div>
      
       <div class="card-body"> 
       <h5 class="card-title">Big Data </h5>  
       <p class="card-text">El académico de Ingeniería Industrial de la Universidad de Chile,
          Richard Weber, nos enseñará qué es el Big Data, sus aplicaciones y la importancia del
           manejo de datos en el siglo XXI.</p> 
       
       <p><a href="http://localhost:4200/wevent"><button type="button" class="btn btn-outline-dark">Asistir</button></a></p> 
      </div> 
    </div>
    <div class="card">
      <div class="div-img hidden" >
        <img class="img" src="assets/img/FuturoPresente.jpg" title="Foto2" alt="Foto2">
      </div>
      <div class="card-body">
        <h5 class="card-title">Futuro Presente</h5>
        <p class="card-text">Cómo la Nueva Revolución Digital afectará la vida de las personas.
           Para el año 2025, doce tecnologías disruptivas tendrán un impacto económico a nivel
            mundial que se calcula entre una y dos veces el tamaño actual de la economía estadounidense</p>
        
        <p><button type="button" class="btn btn-outline-dark">Asistir</button></p>
      </div>
    </div>
    <div class="card">
      <div class="div-img hidden" >
        <img class="img" src="assets/img/ModeloPredictivo.jpg" title="Foto2" alt="Foto2">
      </div>
      <div class="card-body">
        <h5 class="card-title">Modelo predictivo de accidentes</h5>
        <p class="card-text"> Cómo modelos matemáticos pueden predecir situaciones de 
          riesgo en las autopistas. Desde el año 2015.</p>
        
        <p><button type="button" class="btn btn-outline-dark">Asistir</button></p>
      </div>
    </div>
  </div>
