<app-navbar></app-navbar>

<div class="container">
  <div class="row">
    <div class="col-3" >
       <div  class="accordion" id="accordionExample">
          <div>
            User 
          </div>
          <div class="card">
            <div class="card-header" id="headingTwo">
              <h2 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                 Categories
                </button>
              </h2>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
              <div class="card-body">
                <button class="btn btn-link" tye="button" >
                  Cyber security
                </button> <br>
                <button class="btn btn-link" tye="button" >
                  Database
                </button> <br>
                <button class="btn btn-link" tye="button" >
                  Future technologies
                </button> <br>
                <button class="btn btn-link" tye="button" >
                  Artificial intelligence
                </button>
              </div>
           </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingOne">
              <h2 class="mb-0">
                <a href="http://localhost:4200/event">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Upcoming events
                </button>
              </a>
              </h2>
            </div>
          </div> 
      </div>
    </div>

    <div class="col-9"  style="margin-left: 24+5%;">
      <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-50" src="assets/img/gato2.jpg"  height="300px" alt="First slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-50" src="assets/img/gato.jpg"  height="300px" alt="Second slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-50" src="assets/img/gato1.jpg" height="300px" alt="Third slide">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>