<app-navbar></app-navbar>
<table width=100% >
    <tr>
     <div class="row-2"></div>
      <td width=40% >
        <div> <img  src="assets/img/Bigdata.jpg" class="image" width=100%  alt="conferencia">
        </div>
        <br> 
        <div> <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3328.6706845
          52776!2d-70.66645264979253!3d-33.45788528067743!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f
          13.1!3m3!1m2!1s0x9662c503414a845f%3A0x888a0eaae005a3eb!2sFacultad%20de%20Ciencias%2
          0F%C3%ADsicas%20y%20Matem%C3%A1ticas!5e0!3m2!1ses!2scl!4v1580178392705!5m2!1ses!
          2scl" width="550" height="300" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        </div>
                                             
      </td>

      <td width=60% >
        <br><br><br><br><br><br>
        <h1 class="title">Big Data <br><h3>05/23/2020 | 16:45 - 18:45</h3> 
          <h1 class="bodytext"> Expositor: Richard Weber</h1>
          <tr><font class="bodytext">
            El académico de Ingeniería Industrial de la Universidad de Chile, Richard Weber, nos enseñará qué es el Big Data, sus aplicaciones y la importancia del manejo de datos en el siglo XXI.
            Actividad gratuita previa inscripción.</font>
          </tr>
          <h1 class="bodytext">Cantidad maxima de asistentes:50</h1>
    <tr>
            <br>
          <font class="bodytext">Diploma en Matematicas. Magister en investigacion de Operaciones y Ph. D. en investigacionde Operaciones en la Universidad de Tecnica RWTH de Aachen, Alemania.
            Sus areas de investigacion se centran en Optimizacion, Aplicacion de Bases de Datos en la Empresa.></font>
          <br>
          <button type="button" class="btn btn-outline-dark">Asistir</button>
        </tr>
        </h1>
        <app-grafico></app-grafico>
            
  </td>



</table>




