<h1 style="text-align: center; margin-top: 20px;" >Categories</h1>
<div id="cards">
    <div class="card-deck">
        <div class="card">
          <img class="card-img-top" src="../../../assets/img/1.png " alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Artificial Intelligence</h5>
            <p class="card-text">Artificial intelligence (AI) is wide-ranging branch of computer science concerned with building smart machines capable of performing tasks that typically require human intelligence.</p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="../../../assets/img/2.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Android Development</h5>
            <p class="card-text">
                Create mobile applications for users around the world</p>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top" src="../../../assets/img/3.jpeg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Virtual Reality</h5>
            <p class="card-text">Virtual reality is the term used to describe a three-dimensional, computer generated environment which can be explored and 
                interacted with by a person. That person becomes part of this virtual world or is immersed within this 
                environment and whilst there, is able to manipulate objects or perform a series of actions.</p>
          </div>
        </div>
      </div>
</div>