<app-navbar></app-navbar>
<h1 style="text-align: center; margin-top: 20px;" >Categorias</h1>
<div id="cards">
  <div class="card-deck">
    <div class="card">
        <div class="div-img hidden" >
          <img class="img" src="assets/img/1.png" title="Foto2" alt="Foto2">
        </div>      
       <div class="card-body"> 
       <h5 class="card-title">Inteligencia Artificial </h5>  
       <p class="card-text">La Inteligencia Artificial es una amplia rama de la informática que se ocupa de construir maquinas inteligentes
         capaces de realizar tareas que generalmente requieren inteligencia humana.
       </p>       
      </div> 
    </div>
    <div class="card">
      <div class="div-img hidden" >
        <img class="img" src="assets/img/2.png" title="Foto2" alt="Foto2">
      </div>
      <div class="card-body">
        <h5 class="card-title">Desarrollo de Android</h5>
        <p class="card-text">Creacion de aplicaciones moviles para usuarios de todo el mundo</p>        
      </div>
    </div>
    <div class="card">
      <div class="div-img hidden" >
        <img class="img" src="assets/img/3.jpeg" title="Foto2" alt="Foto2">
      </div>
      <div class="card-body">
        <h5 class="card-title">Realidad Virtual</h5>
        <p class="card-text">Realidad Virtual es el termino utilizado para describir un entorno tridimensional
          generado por computadora con el que una persona puede explorar e interactuar.
        </p>        
      </div>
    </div>
  </div>
</div>