<div class="row">
<div class="container">
   <div class="col-4" align="left">
      
      <img class= "login_img"src="assets\img\fondo_login.jpg" style="width: 800px;"  align="left" alt="...">
      <p class="text">Bienvenido&nbsp;a&nbsp;Tech&nbsp;Talk,&nbsp;aqui&nbsp;encontraras&nbsp;el&nbsp;portal&nbsp;de&nbsp;conferencia&nbsp;que<br> buscabas,con&nbsp;una&nbsp;increible&nbsp;vanguardia&nbsp;el&nbsp;temas&nbsp;relacionados&nbsp;con <br> la&nbsp;informática,&nbsp;unete&nbsp;y&nbsp;se&nbsp;parte&nbsp;del&nbsp;futuro&nbsp;tecnologico...</p>
      
      <a href="http://localhost:4200/sigin-up"><button type="click" class="btn btn-success" style="margin: 15px;">Registrate aquí!</button></a>
   </div>
</div>
</div>
<div class="col-8">
   <div class="row-4">
         <img class="img1" src="assets\img\techtalk1.png" style="width: 220px;" aling="left" alt="...">
   </div>
   <div class="row-2">
         <img class="img2" src="assets\img\seeyou.png" style="width: 180px;" aling="left" alt="...">
   </div>
   <div class="container2" align ="left">
      <form >
         <div class="form-group">
         <label for="exampleInputEmail1">Correo electronico</label>
         <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
         <small id="emailHelp" class="form-text text-muted">No compartiremos tu correo electronico con nadie</small>
         </div>
         <div class="form-group">
         <label for="exampleInputPassword1">contraseña</label>
         <input type="password" class="form-control" id="exampleInputPassword1">
         </div>
         <button type="click" class="btn btn-primary">iniciar sesion</button>
      </form>
   </div>
</div>

