<div class="container col-xl-6">
    <div class="card">
        <div class="card-header">
            <h3>Crea tu sala</h3>
        </div>
          <div class="card-body">
            <form action="">
                <div class="form-group">
                    <label for="">Nombre</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group">
                  <label for="exampleFormControlTextarea1">Capacidad</label>
                  <input type="number" class="form-control">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Lugar</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Dirección</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-row">
                    
                    
                    <div class="col-4">
                        <label for="exampleFormControlTextarea2">Ciudad</label>
                    </div>
                    
                </div>            
                <div class="form-row">   
                    <div class="col-4">
                        <select name="City" class="form-control">
                            <option value="eve1" selected >Santiago</option>
                            
                          </select>
                    </div>                   
                </div> 
                <br>
                <a href="http://localhost4200/event">
                  <button id="btncreate" (click)="Create()" class="btn btn-danger" style="margin-left:auto;">Crear</button></a>
            </form>
          </div>
    </div>
  </div>
