<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Tech Talk!</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
    <a class="nav-link" href="http://localhost:4200/home">Home <span
    class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item active">
      <a class="nav-link" href="http://localhost:4200/categories">Categories <span
      class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="http://localhost:4200/usuario">Profile <span
        class="sr-only">(current)</span></a>
        </li>
    <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Create
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
    <a class="dropdown-item" href="http://localhost:4200/eventform">Create your Event</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="http://localhost:4200/talkform">Create your Talk!</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="http://localhost:4200/speaker">Create your Speaker</a>
    </div>
    </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search" placeholder="Search"
    aria-label="Search">
    <form class="form-inline">
        <a href="http://localhost:4200/login">
        <button class="btn btn-outline-success"  type="button" >Login</button>
        </a>
        <a href="http://localhost:4200/sigin-up">
        <button class="btn btn-sm btn-outline-secondary" type="button" style="margin: 4px;">Sign up</button>
        </a>
      </form>
    </form>
    </div>
    </nav>