<div class="container col-xl-6">
    <div class="card">
        <div class="card-header">
            <h3>Create your talk</h3>
        </div>
          <div class="card-body">
            <form action="">
                <div class="form-group">
                    <label for="">Name</label>
                    <input type="text" class="form-control">
                </div>
                <div class="form-group">
                  <label for="exampleFormControlTextarea1">Description</label>
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <div class="form-row">
                    
                    <div class="col-4">
                        <label for="exampleFormControlTextarea2">Event</label>
                    </div>
                    <div class="col-4">
                        <label for="exampleFormControlTextarea2">Speaker</label>
                    </div>
                    <div class="col-2">
                        <label for="exampleFormControlTextarea2">Duration</label>
                    </div>  
                </div>            
                <div class="form-row">
                    
                    
                    <div class="col-4">
                        <select name="Events" class="form-control">
                            <option value="eve1" selected >Event 1</option>
                            <option value="eve2">Event 2</option>
                            <option value="eve3">Event 3</option>
                            <option value="eve4">Event 4</option>
                          </select>
                    </div>
                    <div class="col-4">
                        <select name="Speakers" class="form-control">
                            <option value="eve1" selected >Speaker 1</option>
                            <option value="eve2">Speaker 2</option>
                            <option value="eve3">Speaker 3</option>
                            <option value="eve4">Speaker 4</option>
                          </select>
                    </div>
                    <div class="col-2">
                        <div class="md-form">
                            <input mdbInput type="time" class="form-control">
                        </div>
                    </div>
                </div> 
                <br>
                <div class="form-row">
                    <div class="col-4">
                        <label for="exampleFormControlTextarea2">Category</label>
                    </div>  
                    <div class="col-4">
                        <label for="exampleFormControlTextarea2">SalonRoom</label>
                    </div>
                </div>   
                <div class="form-row">
                    
                    <div class="col-4">
                        <select name="Categories" class="form-control">
                            <option value="eve1" selected >Category 1</option>
                            <option value="eve2">Category 2</option>
                            <option value="eve3">Category 3</option>
                            <option value="eve4">Category 4</option>
                          </select>
                    </div>
                    <div class="col-4">
                        <select name="SalonRooms" class="form-control">
                            <option value="eve1" selected >SalonRoom 1</option>
                            <option value="eve2">SalonRoom 2</option>
                            <option value="eve3">SalonRoom 3</option>
                            <option value="eve4">SalonRoom 4</option>
                          </select>
                    </div>
                </div>          
                <br>     
                  
                  <button id="btncreate" (click)="Create()" class="btn btn-danger" style="margin-left:auto;">Create</button>
            </form>
          </div>
    </div>
  </div>