/*
html, body{
    background-color: rgb(29, 26, 185);
    color : white
}

hr{
    background-color: white;
}
*/
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
